<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtn.mapper.ProductCategoryMapper">

    <select id="selectCategoryList" resultType="com.xtn.domain.ProductCategory">
        select
            id,name,remark,sort,create_time,modified_time,pid
        from
            biz_product_category
        <where>
            <if test="name != null and name != ''">
                name like '%' #{name} '%'
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="getListById" resultType="com.xtn.domain.ProductCategory">
        WITH RECURSIVE r_t AS (
        SELECT
            s1.id,
            s1.pid,
            s1.name
        FROM
            biz_product_category s1
        WHERE
            s1.id = #{id} UNION ALL
        SELECT
            s2.id,
            s2.pid,
            s2.name
        FROM
            biz_product_category s2
            INNER JOIN r_t ON r_t.id = s2.pid
        ) SELECT
        *
    FROM
        r_t;
    </select>

</mapper>
