<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtn.mapper.RoleMapper">

    <select id="getRolesById" resultType="com.xtn.domain.Role">
        SELECT
            r.id,
            r.role_name,
            r.remark
        FROM
            tb_role r
        JOIN tb_user_role ur ON r.id = ur.role_id
        WHERE
            ur.user_id = #{id}
    </select>

    <select id="selectRoleList" resultType="com.xtn.domain.Role">
        select
            *
        from
            tb_role
        <where>
            <if test="roleName != null and roleName != ''">
                role_name like '%' #{roleName} '%'
            </if>
        </where>
    </select>

    <select id="findMenuIdsByRoleId" resultType="com.xtn.domain.Menu">
        SELECT DISTINCT
            trm.menu_id AS id
        FROM
            tb_role_menu trm
        WHERE trm.role_id = #{id}
    </select>

    <select id="selectRoleIdListByUserId" resultType="java.lang.Long">
        SELECT
            ur.role_id
        FROM
            tb_user_role ur
        WHERE
            ur.user_id = #{id}
    </select>

    <delete id="remove">
        delete
        from
            tb_role_menu
        where
            role_id=#{id}
    </delete>

    <insert id="authority">
        insert
        into tb_role_menu(role_id,menu_id)
        values(#{roleId},#{menuId})
    </insert>
</mapper>
