<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xtn.mapper.SupplierMapper">

    <sql id="supplierType">
        id,name,address,email,phone,create_time,modified_time,sort,contact
    </sql>

    <select id="selectSupplierList" resultType="com.xtn.domain.Supplier">
        select <include refid="supplierType"></include>
        from biz_supplier
        <where>
            <if test="name != null and name != ''">
                name like '%' #{name} '%'
            </if>
            <if test="address != null and address != ''">
                and address like '%' #{address} '%'
            </if>
            <if test="contact != null and contact != ''">
                and contact like '%' #{contact} '%'
            </if>
        </where>
        order by create_time desc
    </select>
</mapper>
